
/* HEADER */
/* bars button & dropdown menu*/

.bars_btn {
    cursor: pointer;
}

.bars {
    width: 3rem;
    filter: invert(100%);
}

.bars:hover {
    scale: 1.05;
}

@media (min-width: 1024px) {
    .bars_btn {
        display: none;
    }
    .dropdown_menu {
        display: none;
    }
    .opne {
        display: none;
    }
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(108, 122, 137, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.open {
    height: 150px;
    display: block;
}

@media (max-width: 640px) {
    .dropdown_menu {
        left: 1rem;
        right: 1rem;
        width: unset;
    }
}


/* SECTION SLIDER */
/* img utama */
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

/* thumbnail kecil kiri bawah */
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 77px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
}

.thumbnail .item{
    height: 70px;
    width: 125px;
    filter: brightness(0.8);
    opacity: 0.8;
    transition: .5s;
    flex-shrink: 0;
    border-radius: 8px;
    cursor: pointer;
}

.thumbnail .item:hover {
    filter: brightness(1.6);
    height: 77px;
    width: 137px;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.thumbnail .item.active{
    border: 1px solid white;
    border-radius: 8px;
    filter: brightness(1.1);
}

@media (max-width: 768px) {
    .thumbnail {
        justify-content: flex-start;
    }
}

/* CARD SLIDER */

#slider-container1 .btn1.inactive {
	display: none;
	cursor: default;
}

#slider-container2 .btn2.inactive {
	display: none;
	cursor: default;
}

#slider-container3 .btn3.inactive {
	display: none;
	cursor: default;
}


.container-konten .konten {
    color: white;
    position: relative;
    display: none;
    top: 40%;
    padding: 0 20px; 
}

.container-konten:hover .konten {
    display: block;
}

.slide1 {
    z-index: 1;
}
.slide1:hover {
    z-index: 99;
}

.slide2 {
    z-index: 1;
}
.slide2:hover {
    z-index: 99;
}

.slide3 {
    z-index: 1;
}
.slide3:hover {
    z-index: 99;
}

.btn1 {
    z-index: 100;
}
.btn2 {
    z-index: 100;
}
.btn3 {
    z-index: 100;
}