
/* HEADER */
/* bars button & dropdown menu*/

.bars_btn {
    cursor: pointer;
}

.bars {
    width: 3rem;
    filter: invert(100%);
}

.bars:hover {
    scale: 1.05;
}

@media (min-width: 1024px) {
    .bars_btn {
        display: none;
    }
    .dropdown_menu {
        display: none;
    }
    .opne {
        display: none;
    }
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(108, 122, 137, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.open {
    height: 150px;
    display: block;
}

@media (max-width: 640px) {
    .dropdown_menu {
        left: 1rem;
        right: 1rem;
        width: unset;
    }
}

/* chapter list */
.per-chapter .picture-chapter {
    margin-left: 13px;
    margin-right: 3px;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}
.per-chapter:hover .picture-chapter {
    margin-left: 3px;
    margin-right: 13px;
}
.per-chapter .picture-chapter img {
    filter: brightness(.75);
    border-radius: 6px;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}
.per-chapter:hover .picture-chapter img {
    filter: brightness(1);
}

.per-chapter:hover .number-chapter {
    color: orange;
    /* scale: 1.05; */
}
.per-chapter:hover .title-chapter {
    color: white;
    /* scale: 1.05; */
}
.per-chapter:hover .date-chapter {
    color: white;
    /* scale: 1.05; */
}


/* CARD */
/* CARD */

.container-konten .konten {
    color: white;
    position: relative;
    display: none;
    padding: 0 20px; 
    top: 30%;
}

.container-konten:hover .konten {
    display: flex;
    justify-content: center;
}